body{
    background-color: #0a2342;
    color: white;
}

.cripto-visao{
    width: 80px;
    height: 50px;
}

.main-menu{
    
    display: flex;
    align-items: center;
    position: relative;
    
}

.main-menu a{
    text-decoration: none;
    color: white;
}
.links{
    margin-left: 400px;
    word-spacing: 100px;
}

.geral{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.header{
    display: flex;
    justify-content: flex-start;
}

.img{
    margin-left: 250px;
}